@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --markee-primary: #20bf6b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.message-text {
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
